@page
@model HouseLemmingv3.Pages.Images2.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Image</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Image.ImageId" />
            <div class="form-group">
                <label asp-for="Image.FileName" class="control-label"></label>
                <input asp-for="Image.FileName" class="form-control" />
                <span asp-validation-for="Image.FileName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image.AdvertId" class="control-label"></label>
                <select asp-for="Image.AdvertId" class="form-control" asp-items="ViewBag.AdvertId"></select>
                <span asp-validation-for="Image.AdvertId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image.ImageBytes" class="control-label"></label>
                <input asp-for="Image.ImageBytes" class="form-control" />
                <span asp-validation-for="Image.ImageBytes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
