@page
@model HouseLemmingv3.Pages.Manage.Adverts.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Advert</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Advert.OwnerId" class="control-label"></label>
                <input asp-for="Advert.OwnerId" class="form-control" />
                <span asp-validation-for="Advert.OwnerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Advert.DescShort" class="control-label"></label>
                <input asp-for="Advert.DescShort" class="form-control" />
                <span asp-validation-for="Advert.DescShort" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Advert.DescLong" class="control-label"></label>
                <input asp-for="Advert.DescLong" class="form-control" />
                <span asp-validation-for="Advert.DescLong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Advert.NumToilets" class="control-label"></label>
                <input asp-for="Advert.NumToilets" class="form-control" />
                <span asp-validation-for="Advert.NumToilets" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Advert.NumRooms" class="control-label"></label>
                <input asp-for="Advert.NumRooms" class="form-control" />
                <span asp-validation-for="Advert.NumRooms" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Advert.PriceMonthly" class="control-label"></label>
                <input asp-for="Advert.PriceMonthly" class="form-control" />
                <span asp-validation-for="Advert.PriceMonthly" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Advert.Deposit" class="control-label"></label>
                <input asp-for="Advert.Deposit" class="form-control" />
                <span asp-validation-for="Advert.Deposit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Advert.StartDate" class="control-label"></label>
                <input asp-for="Advert.StartDate" class="form-control" />
                <span asp-validation-for="Advert.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Advert.EndDate" class="control-label"></label>
                <input asp-for="Advert.EndDate" class="form-control" />
                <span asp-validation-for="Advert.EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Advert.Status" class="control-label"></label>
                <input asp-for="Advert.Status" class="form-control" />
                <span asp-validation-for="Advert.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Advert.ContactNumber" class="control-label"></label>
                <input asp-for="Advert.ContactNumber" class="form-control" />
                <span asp-validation-for="Advert.ContactNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Advert.ContactEmail" class="control-label"></label>
                <input asp-for="Advert.ContactEmail" class="form-control" />
                <span asp-validation-for="Advert.ContactEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Advert.AddrLine1" class="control-label"></label>
                <input asp-for="Advert.AddrLine1" class="form-control" />
                <span asp-validation-for="Advert.AddrLine1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Advert.AddrLine2" class="control-label"></label>
                <input asp-for="Advert.AddrLine2" class="form-control" />
                <span asp-validation-for="Advert.AddrLine2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Advert.AddrCity" class="control-label"></label>
                <input asp-for="Advert.AddrCity" class="form-control" />
                <span asp-validation-for="Advert.AddrCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Advert.AddrCounty" class="control-label"></label>
                <input asp-for="Advert.AddrCounty" class="form-control" />
                <span asp-validation-for="Advert.AddrCounty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Advert.AddrPostCode" class="control-label"></label>
                <input asp-for="Advert.AddrPostCode" class="form-control" />
                <span asp-validation-for="Advert.AddrPostCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
