@page
@model HouseLemmingv3.Pages.Manage.Users.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>ApplicationUser</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ApplicationUser.Firstname" class="control-label"></label>
                <input asp-for="ApplicationUser.Firstname" class="form-control" />
                <span asp-validation-for="ApplicationUser.Firstname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationUser.Lastname" class="control-label"></label>
                <input asp-for="ApplicationUser.Lastname" class="form-control" />
                <span asp-validation-for="ApplicationUser.Lastname" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="ApplicationUser.Id" />
            <div class="form-group">
                <label asp-for="ApplicationUser.UserName" class="control-label"></label>
                <input asp-for="ApplicationUser.UserName" class="form-control" />
                <span asp-validation-for="ApplicationUser.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationUser.NormalizedUserName" class="control-label"></label>
                <input asp-for="ApplicationUser.NormalizedUserName" class="form-control" />
                <span asp-validation-for="ApplicationUser.NormalizedUserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationUser.Email" class="control-label"></label>
                <input asp-for="ApplicationUser.Email" class="form-control" />
                <span asp-validation-for="ApplicationUser.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationUser.NormalizedEmail" class="control-label"></label>
                <input asp-for="ApplicationUser.NormalizedEmail" class="form-control" />
                <span asp-validation-for="ApplicationUser.NormalizedEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationUser.PhoneNumber" class="control-label"></label>
                <input asp-for="ApplicationUser.PhoneNumber" class="form-control" />
                <span asp-validation-for="ApplicationUser.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
