@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>

<p>We promise never to sell any of your data to third parties, or to work out how to access our gathered data in the first place.</p>