body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: #e9e9eb;
    font-family: arial;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: 10px;
    border-color: black;
    background: #fff;
    cursor: pointer;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 16px 32px 0 rgba(0,0,0,0.4);
    background:#fefef0;
}

/* Add some padding inside the card container */
.cardContainer
{
    padding: 2px 16px;
}
